.link-container {
  display: flex;
  white-space: nowrap;

  height: 30px;

  > a {
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;

    > .favicon {
      margin-right: 16px;
    }

    > .title {
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--primary-light-color);
      font-size: var(--primary-small-font-size);
    }
  }
}
