#date-selector {
  >.selector {
    font-size: var(--primary-small-font-size);

    >select {
      outline: none;
      -webkit-appearance: none;
      border-color: var(--primary-border-color);
      background: url(/img/arrow-down.svg) calc(100% - 15px) center no-repeat;
      background-size: 12px;
      background-color: var(--primary-background-color);
      color: var(--primary-color);

      min-width: 180px;
      height: 32px;

      border-radius: 0px;
      padding: 5px 30px 5px 15px;

      @media (prefers-color-scheme: dark) {
        color: var(--primary-light-color);
      }
    }
  }
}