#history-list {

  // padding-top: 12px;
  // padding-bottom: 12px;
  .time-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;

    div {
      text-align: center;
      width: 60px;
      font-size: var(--primary-small-font-size);
      color: var(--primary-light-color);
    }

    hr {
      width: 100px;
    }
  }
}

#history-list-announcement {
  // padding-top: 12px;
  // padding-bottom: 12px;

  padding-left: 12px;

  font-size: var(--primary-small-font-size);
  color: #808080;
}