html,
body {
  background-color: var(--entire-background-color);
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  color: var(--primary-color);

  >.header {
    background-color: var(--primary-background-color);

    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

    >.title {
      font-size: var(--primary-big-font-size);
      font-weight: normal;
    }
  }

  >.content {
    margin-bottom: 30px;
  }
}