html,
body {
  background-color: var(--entire-background-color);
  margin: 0;
  padding: 0;

  // font-family: 'Roboto', 'Noto Sans CJK KR', Arial, sans-serif;
  // font-family: Arial, sans-serif;
  font-family: 'Roboto', Arial, sans-serif;
}

.App {
  height: 100%;
  color: var(--primary-color);

  >header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;

    background-color: var(--primary-background-color);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

    >div {
      height: 60px;
      padding-left: 20px;
      padding-right: 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      >h1 {
        all: unset;
        color: var(--primary-font-color);
        font-size: var(--primary-big-font-size);
        font-weight: 400;
      }

      >button {
        all: unset;
        color: var(--primary-light-color);
        font-size: var(--primary-small-font-size);
      }
    }
  }

  >main {
    margin-top: 90px;
    margin-bottom: 100px;

    min-height: calc(100vh - (90px + 100px + 37px));
  }
}