:root {
  --entire-background-color: #fcfdfd;
  --primary-background-color: #ffffff;
  --primary-light-background-color: #ffffff;
  --primary-border-color: #e2e2e2;

  --primary-color: black;
  --primary-light-color: grey;

  --primary-small-font-size: 14px;
  --primary-medium-font-size: 16px;
  --primary-big-font-size: 18px;

  font-family: Roboto, Arial, sans-serif;

  @media (prefers-color-scheme: dark) {
    --entire-background-color: #1d1e20;
    --primary-background-color: #282828;
    --primary-light-background-color: #393939;
    --primary-border-color: #303030;
    --primary-color: #fffffe;
    --primary-light-color: lightgrey;
  }
}