:root {
  --entire-background-color: #ffffff;
  --primary-background-color: #ffffff;
  --primary-light-background-color: #e8e8e8;
  --primary-border-color: #efefef;

  --primary-font-color: #000000;
  --primary-font-light-color: #777777;

  --primary-small-font-size: 14px;
  --primary-medium-font-size: 16px;
  --primary-big-font-size: 18px;

  @media (prefers-color-scheme: dark) {
    --entire-background-color: #282828;
    --primary-background-color: #282828;
    --primary-light-background-color: #1d1e20;

    --primary-border-color: #303030;

    --primary-font-color: #fbfbfb;
    --primary-font-light-color: lightgrey;
  }

  hr {
    margin: 0px;
    height: 1px;
    background-color: var(--primary-border-color);
    border-width: 0px;
  }
}