.history-item-view {
  display: flex;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  height: 30px;

  >a {
    text-decoration: none;

    >.title {
      color: var(--primary-light-color);
      font-size: var(--primary-small-font-size);
    }
  }
}