#top-button-container {
  position: fixed;

  bottom: 40px;
  left: calc(50% - 20px);

  width: 40px;
  height: 40px;

  background: var(--primary-background-color);
  border-style: solid;
  border-color: var(--primary-border-color);
  border-width: 2px;
  border-radius: 100%;

  display: flex;
  align-content: center;
  justify-content: center;

  outline: none !important;

  > #arrow-img {
    margin-bottom: 3px;
  }
}
