.section-container {
  //  margin-left: 20px;
  //  margin-right: 20px;

  > .header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid var(--primary-border-color);

    > .title-container {
      display: flex;

      > .title {
        font-size: var(--primary-medium-font-size);
        font-weight: lighter;
        overflow: visible;
      }
      > .sub-title {
        font-size: var(--primary-small-font-size);
        font-weight: lighter;
        max-width: 150px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    > .control {
      display: flex;
      justify-content: space-between;
      align-content: center;
      > button {
      }
    }
  }
  > .content {
    margin-top: 10px;
    // padding-left: 12px;
    // padding-right: 12px;
    // padding-top: 12px;
    // padding-bottom: 12px;
  }
}
