#announcement {
  .announcement-content {
    padding-top: 12px;
    font-size: var(--primary-small-font-size);

    .announce {
      font-size: var(--primary-small-font-size);
      margin-bottom: 15px;
      line-height: 1.8;
    }
  }

  .button-container {
    padding-top: 12px;
    padding-bottom: 12px;

    display: flex;
    justify-content: space-between;

    > button {
      all: unset;
      color: var(--primary-light-color);
      text-decoration: underline;
    }
  }
}
