.reference-item {
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--primary-color);

  >a {
    height: 20px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--primary-small-font-size);
    font-weight: normal;
  }
}