#synced-tabs {
  position: relative;

  .content {
    >.announcement {
      background-color: var(--primary-background-color);
      padding: 12px;
      border-bottom: 1px solid var(--primary-border-color);

      font-size: var(--primary-small-font-size);

      >div {
        height: 24px;
        display: flex;
        align-items: center;

        color: #777777
      }
    }

    .last-update-time {
      font-size: 14px;
      font-weight: 300;
      color: var(--primary-light-color);
    }

    .session-divider {
      >div {
        height: 12px;
      }

      >hr {
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }
}

#sync-control {
  position: absolute;
  top: 74px;
  right: 32px;

  >button {
    width: 140px;
    height: 30px;
    font-size: var(--primary-small-font-size);

    border: none;
    border: solid 1px 1px;
    text-align: center;
    background-color: var(--primary-background-color);
    color: var(--primary-light-color);

    -webkit-appearance: "none";
    outline: "none";

    &:disabled,
    &[disabled] {
      background-color: var(--primary-border-color);

      @media (prefers-color-scheme: dark) {
        background-color: var(--primary-light-background-color);
      }
    }
  }
}

.reference-item {
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--primary-color);

  >a {
    height: 20px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--primary-small-font-size);
    font-weight: normal;
  }
}